#header {
  display: flex;
  justify-content: center;
  background-color: #1b1b32;
  text-align: center;
  border-radius: 10px;
  color: #f1be32;
  margin-bottom: 20px;
}

#about-me, #skills, #info {
  background-color: #1b1b32;
  text-align: center;
  border-radius: 10px;
  
#kropki {
  life-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}
  .navigation {
    
  life-style-position: inside;
  }
}
body {
  background-color: #0a0a23;
  font-family: "Hack-ZeroSlash", Tahoma;
}

#image {
  width: 80%;
  height: auto;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
}
p, #kropki {
  font-size: 20px;
  color: #dbb8ff;
}

h2 {
  font-size: 25px;
  color: #f1be32;
}
#photo {
  background-color: #ffffff;
  padding-top: 20px;
  width: 40%;
  height: auto;
  margin: auto;
    
}

/*Komentarze*/

.photo {
 text-align: center;
}

#fig {
  color: #5a01a7;
  font-size: 10px;
}

footer {
  color: #5a01a7;
  font-weight: strong;
  text-align: center;
}
